*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.774)), url(images/dex-ezekiel-IxDPZ-AHfoI-unsplash\ \(2\).jpg);
  background-size: cover;
  height: 100vh;
}
h3 {
  font-family: "Sofia Sans", sans-serif;
  font-size: 14px;
}
h2 {
  font-family: "Nrvsbrkdwn", sans-serif;
  letter-spacing: 6px;
  color:  white;
}
.main2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
  background-color: rgb(2, 15, 44);
  color: white;
}
#display{
  display: flex;
  align-items: center;
  gap: 30px;
}
.minus{
  width: 40px;
  border: 2px solid rgb(0, 84, 158);
}
.main3{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 50vh;
}

.homie>input{
  width: 300px;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.newOne[type=file]{
  color: white; 
  border: 2px solid  white;
}

.submitMe{
  width: 170px;
  padding: 14px;
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}



@media screen and (max-width: 475px){

  h3 {
    
    display: none;
  }
  h2 {
    font-family: "Nrvsbrkdwn", sans-serif;
    letter-spacing: 6px;
    color:  white;
    font-size: 18px;
  }
  .signlogo{
   width: 24px;
  }
  .main2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
    background-color: rgb(2, 15, 44);
    color: white;
  }
  #display{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .minus{
    width: 40px;
    border: 2px solid rgb(0, 84, 158);
  }
  .main3{
    padding: 15px;
  }
  
  .homie>input{
    width: 100%;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
  }
  
  .newOne[type=file]{
    margin-bottom: 17px;
    color: white; 
    border: 2px solid  white;
  }
  
  .submitMe{
    width: 100%;
    padding: 14px;
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  
  
}